body{
    direction: rtl;
}
.header {
    background-color: #fff;
    border-bottom: 2px solid #ece9e9;
    padding: 10px;
}
.icon-cart {
    position: relative;
    margin: auto;
}
.header-badge {
    color: red;

}
a{
    text-decoration: none;
    color: #000;
}
table.orders tr{
    cursor: pointer;
}
table.orders tr:hover td {
    background-color: #848688;
    color: #fff;
}
